@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}
.content-text{
  text-transform: none;
    font-feature-settings: normal;
    font-style: normal;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.5em;
    font-size: 21px;
    font-weight: 400;
    overflow-wrap: normal;
}
.h-calc{
  height: calc(100vh - 108px);
}
.article-page p {
  padding: 0.5rem;
}

.content-text blockquote{
  padding: 1rem;
  font-size: 25px;

}
